
        body {
            min-height: 100%;
            width: 100%;
            display: flex;

        }
        
        
        @media only screen and (min-height: 400px) {
            
            .stick-to-top {
                position: sticky;
                top:0;
            }
        }

        
        .staff {
            --line-distance: 1.4rem;
            --line-width: 2px;

            position: relative;
            width: 30rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }

        .row {
            display: flex;
            flex-direction: column;
        }

        .row > * {
            flex:1;
            margin-bottom:1rem;
        }

        
        @media (min-width:900px) {            
            .row > * + * {
                margin-left:1rem;
            }

            .row {
                flex-direction: row;
            }
        }

        .text-lg {
            font-size:clamp(1rem,3vw,2rem);
        }
        .text-md {
            font-size:1rem;
        }

        .line {
            background-color: black;
            height: var(--line-width);
            margin-bottom: var(--line-distance);
            width: 100%;
        }

        .ledger-line {
            width: 3rem;
            visibility: hidden;
        }

        #staff-note {
            position: absolute;
            bottom: calc((var(--line-width) + var(--line-distance)) / 2 * var(--position));
            width: 1.7rem;
            left: 50%;
            transform: translateX(-50%);
        }

        #time-between-container {
            grid-area: tl;
            justify-self: stretch;
        }



        .fieldset-container {
            justify-self: stretch;
        }

        fieldset legend {
            text-align: center;
            margin-bottom: .9rem;
        }

        .label-wrapper {
            display: grid;
            grid-template-columns: repeat(12,1fr);
            min-width: 900px;

            gap:.5rem;
            border:5px solid rgba(255, 255, 255, 0.349);
            border-radius: 20px;
            padding:1rem;
        }

        .label-overflow-wrapper {
            flex:1;
            overflow: auto;  
        }

        #notes-included-checkboxes {
            display: grid;
            justify-self: stretch;
            background-color: rgb(51, 51, 51);
            padding:1rem 0;
            gap:2rem;
            grid-area:cb;
        }

        #stick-to-screen-checkbox {
            white-space: nowrap;
        }
        
        #notes-included-checkboxes fieldset {
            border:none;
             
            min-width: 0;
            justify-self: stretch;
        }

        #stick-to-screen-checkbox {
            display: grid;
            gap:10px;
            grid-auto-flow: column;
            align-items: center;
            justify-self: start;
        }

        @media only screen and (max-height: 400px) {
            #stick-to-screen-checkbox {
                display: none;
            }
        }

        .label-wrapper input[type="checkbox"] {
            display:none;
        }
        .label-wrapper input[type="checkbox"]:checked + span {
            background-color: #00a0ff;
        }
        .label-wrapper input[type="checkbox"] + span:hover {
            outline:2px solid grey;
        }

        .label-wrapper span {
            content:'';
            text-align: center;
            font-size: .7rem;
            cursor: pointer;
            padding:.2rem;
            flex:1;
        }

        .button-container {
            display: grid;
            gap:1rem;
            justify-items: center;
            grid-column: 1/-1;
            justify-self: stretch;
        }

        .button-grid {
            justify-self: stretch;
            display: grid;
            gap:1rem;
            grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        }


        .label-wrapper button {
            grid-column-end: span 3;
            justify-self: stretch;
        }

        .label-wrapper label {
            display: flex;
        }


        .highlight {
            color: #ffda3e;
            font-size: 2em;
        }

        #game {
            display: none;
            margin:auto;
            font-size: min(2.6vw,1.5rem);
        }

        #notes {
            text-align: center;
            margin-bottom: 2em;
        }

        #notes span {
            display: inline-block;
        }

        #notes span:nth-child(1) {
            width: 2.3ch;
        }
        #notes span:nth-child(2) {
            width: 3ch;
        }




        #time-left {
            width: 30em;
            height: 2em;
            background-color: #ff869c;
            margin: 0 auto;
            transform-origin: left;
        }

        .slidecontainer {
            width: 100%;
        }

        


