* {
    margin: 0;
    padding: 0;
}





body {
    height: 100%;
    padding: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.staff {
    --line-distance: 1.4em;
    --line-width: 2px;

    position: relative;
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: var(--medium-space);
}

.line {
    background-color: black;
    height: var(--line-width);
    margin-bottom: var(--line-distance);
    width: 100%;
}

.highlight {
    color: #ffda3e;
}


.ledger-line {
    width: 3em;
    visibility: hidden;
}

#staff-container {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

#staff-note {
    position: absolute;
    bottom: calc((var(--line-width) + var(--line-distance)) / 2 * var(--position));
    transition: bottom .1s ease;
    width: 1.7em;
    left: 50%;
    transform: translateX(-50%);
}

#string-number {
    color: white;
    font-size: 5em;
}

.highlight {
    color: #ffda3e;
    font-size: 1.6em;
}




#time-between {
    color: white;
    font-size: 1.2rem;

}

#stop-button {
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    padding: 1rem;
    font-size: 4rem;
    opacity: .5;
}

#stop-button:hover {
    color: white;
}

 

#treble-clef {
    position: absolute;
    left: -1.25em;
    width: 7.5em;
    bottom: 3.125em;
}

.slidecontainer {
    width: 100%;
}

